.subscribe {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    &__together {
        width: 570px;
        @media screen and (min-width: 768px) {
            display: contents;
        }
        @media screen and (min-width:1200px) {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }
    &__email {
        margin-top: 20px;
        width: 358px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background-color: $background-footer;
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
    }
    &__input-email {
        width: 450px;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.25;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        @media screen and (min-width: 1200px) {
            margin-right: 12px;
            width: 358px;
        }
    }
    &__button {
        cursor: pointer;
        margin-top: 20px;
        margin-left: 140px;
        width: 200px;
        height: 50px;
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: transparent;
        @media screen and (min-width: 1200px) {
            margin-left: 0;
        }
        & svg {
            width: 24px;
            height: 24px;
            margin-left: 10px;
        }
    }
    &__text {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        padding-left: 29px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}