.specialisations {
    @media screen and ( max-width: 1199px) {
        display: none;
    }
}

.specialisations {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: $font-white;
    &__title {
        margin-top: 0;
        margin-bottom: 50px;
        text-align: center;
    }
    &__list {
        display: flex;
    }
    &__img {
        position: relative;
        &:not(:last-child) {
            width: calc((100% - 60px) / 3);
            margin-right: 30px;
        }
    }
    &__icon {
        margin: auto;
    }
    &__overlay::before {
        position: absolute;
        display: inline-block;
        opacity: 0.8;
        content: '';
        width: 370px;
        height: 70px;
        top: 225px;
        background-color: rgb(47, 48, 58);
    }
    &__label {
        position: absolute;
        top: 235px;
        right: 20%;
        opacity: 1;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $font-white;
    }
}