.specialisations__title,
.team__title,
.clients__title {
    color: $font-black;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.buttons__title,
.works-title {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
}