body {
    color: $font-black;
    background-color: $primery-white-color;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    margin: 0;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flexin {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-class {
    position: relative;
}

.hidden {
    display: none;
}