$primery-white-color: #ffffff;
$background-hero: #2F303A;
$background-team: #F5F4FA;
$background-specialisations: #E5E5E5;
$background-footer: #2F303A;
$background-portfolio: #F5F4FA;
$blue-color: #2196F3;
$font-black: #212121;
$font-grey: #757575;
$font-white: #FFFFFF;